body{
    background-color: black;
}

.badge-head{
  padding: 0px;
  background-color: #ff4900;
  border: 1px solid #ff4900;
  margin: auto;
  border-radius: 7px;
}

.nav-top{
  left: 94%;
  margin-bottom: 30px;
}
.fleche-top{
  width: 50px;
  height: 45px;
  border: 1px solid #ff4900;
  background-color: #ff4900;
  border-radius: 10px;
  text-align: center;
}

.conteneur-principale{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

a{
    color: white;
    font-size: 20px;
    transition: 0.5s;
    font-weight: bold;
}

.navbar-nav li a:hover{
    color: #ff4900;
    transition: 0.5s;
    padding: 0px 30px;
}


.navbar .logo{
    color: #ff4900;
    font-size: 36px;
    margin-bottom: 10px;
}
.my-navbar{
    margin: 0px 105px;
}


/*AUTO TYPE*/
.a-t-c1{
    display: inline-block;
    margin-left: 5px;
    background: #000;
    position: absolute;
    opacity: 1;
    overflow: hidden;
    width: 3px;
}
.a-t-c2{
    display: inline-block;
    margin-left: 5px;
    background: #000;
    position: absolute;
    opacity: 1;
    overflow: hidden;
    width: 16px;
    height: 5px;
    margin-top: 33px;
    
}

@keyframes blink-caret {
    from, to { opacity:0; }
    50% { opacity: 1; }
  }

  .left{
    margin-top: 100px;
  }
  .banniere{
    position: relative;
    top: 160px;
  }

 .auto-typing{
    font-size: 34px;
    margin: 20px 0px;
    height: 50px;
 }

 .banniere p, .banniere h2{
    color: white;
 }

 .texte-descriptif p{
    margin-top: 20px;
 }
 .link ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin: 0px;
    padding: 0px;
 }

 .link ul li{
    margin-left: 15px;
 }


  /*section about*/
  .about{
    margin:  370px 0px 100px 0px;
  }

  .photo-about{
    border: 8px solid #ff4900;
    padding: 0px;
    margin-right: 120px;
  }

  .my-information{
    margin: 20px 0px;
  }

  .my-information h3, .my-information ul .cle{
    color: white;
  }
  .my-information ul .cle{
    font-weight: bold;
  }

  .my-information .body-content-about li{
    list-style-type: none;
    color:  #ede4e4;
  }

  .down-cv{
    border-radius: 30px;
    border-color: #ff4900;
    background-color: #ff4900;
    padding: 10px;
  }
  .down-cv a:hover{
    color: white;
    text-decoration: none;
  }

  /*Section SERVICE*/
  .my-service{
    margin: 80px 0px 100px 0px;
    display: flex;
    flex-direction: column;
  }

  .head-service{
    width: 50%;
    margin: 0px auto;
  }

  .conteneur-service{
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .content-service{
    width: 30%;
    padding: 20px 30px;
    border-radius: 20px;
  }


  /*FREELANCE SECTION*/
  .freelance{
    margin-bottom: 100px;
    height: 350px;
    background-image: url(../img/bg-freelance.jpg);
    position: relative;
    background-size: cover;
    background-attachment: fixed;
  }

  .mask-background-freelance{
    height: 350px;
    background-color: black;
    opacity: 0.5;
    position: relative;
    background-size: cover;
    background-attachment: fixed;
  }

  .content-freelance{
    position: absolute;
    top: 130px;
    left: 0px;
    right: 0px;
  }

  .freelance-btn{
    color: black;
    padding: 15px;
    font-weight: bold;
  }
  .freelance-btn:hover{
    color: #ff4900;
  }

  /*PROJECT SECTION*/
  .my-projects{
    margin-bottom: 100px;
  }
  .head-projects{
    width: 50%;
    margin: 0px auto;
  }